<div class="login-container">
  <div class="logo-container">
    <div class="logo">
      <img class="icon" src="../../assets/img/logo.svg" />
      <div class="logo-text">NoteBook</div>
    </div>
  </div>
    <div class="form-floating mb-3">
        <label for="floatingInput">Login:</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="Login" [(ngModel)]="login">
    </div>
    <div class="form-floating mb-3">
        <label for="floatingInput">Email:</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Password:</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"  [(ngModel)]="password">
    </div>
    <button type="button" class="auth-button" (click)="apply()">Register</button>
    <p class="register" (click)="toLogin()">Login in</p>
</div>
