.login-container{
    background-color: #EEE;
    padding: 20px;
    border: 1px solid lightgrey;
    width: 400px;
    border-radius: 4px;

    .btn{
        margin-top: 20px;
        width: 100%;
    }
}

.register{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin: 15px 0px 0px 0px;
    font-size: 14px;

    &:hover{
        color: blue;
    }
}