.app-container{
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50px;
    border-top: 1px solid lightgrey;
    color: grey;
}